/*
!/.gitignore
!/Makefile

!/alacritty/
!/asdf/
!/gh/
gh/hosts.yml
!/git/
!/karabiner/
karabiner/automatic_backups/
!/nvim/
!/starship.toml
!/tmux/
tmux/tmux.conf
tmux/plugins/
!/zsh/
zsh/.zshenv
zsh/.zshrc
zsh/.zcompdump

*.local
